.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  background-image: url('./public/rectangle-1@2x.png');
  background-size: cover;
  background-position: center;
  height: 480px;
  position: relative;
}

.header img {
  width: 100px;
  height: auto;
}

.header .mahallah-salahudin-al-ayubi,
.header .hostel-review {
  margin: 0;
}

.header .hostel-review {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:'Roboto', sans-serif;
  letter-spacing: 4px;
  font-size: 35px;
  text-shadow: 2px 2px 4px rgba(255, 253, 253, 0.5);
}

.mahallah-salahudin-al-ayubi{
  position: absolute;
  top : 20px;
  left:20px;
  font-family:'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
}

.navbar {
  position: absolute;
  top: 2%;
  right: 0;
  display:flex;
  justify-content: flex-end;
  font-family:'Roboto', sans-serif;
  letter-spacing: 2px;
}
  


.navbar a {
  display: flex;
  color: #f8efef;
  text-align:right;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #837878;
  color: black;
}

.map {
  background-color: #3f3a3a; 
  height:800px;
  max-width:2000px;
  margin: 0 auto;  
  position: relative;
}

.map .map-of-mahallah {
  font-size: 40px; 
  position: absolute;
  left:50%; 
  transform: translateX(-50%); 
  top: 20px;
  color: antiquewhite;
  background-color: #4d0f0f;
  border-radius: 8px;
}

.rectangle-icon{
position:absolute;
  top: 75px;
  left:50%;
  transform: translateX(-50%);
  width:400px;
  display:block;
  text-align: center;
  border-radius: 10px;
}

.typeroom {
  background-color: #1816166e; 
  height:550px;
  position: relative;
  max-width: 2000px;
  margin: 0 auto;  
}

.type-of-room{
  font-size: 40px; 
  position: absolute;
  left:50%; 
  transform: translateX(-50%); 
  top: 10px;
  color: antiquewhite;
  background-color: #4d0f0f;
  border-radius: 8px;
  padding:2px;
}

.quad-room, .twin-room, .single-room {
  color:#3f3a3a;
  position: absolute;
  top: 70px; 
  left: 50%; 
  padding: 10px;
  transform: translateX(-50%);
  font-family:'Montserrat', sans-serif ;
  font-size: 30px;
  background-color:beige;
  border-radius:3px;
  box-shadow:0px 0px 10px rgb(236, 234, 234) ;
  
}

.desktop-1-child1 {
  position: absolute; 
  top: 150px;
  left: 400px;
  transform: translateX(-50%);
  max-width: 550px;
}

.iium-student-ratedaymonthly-container{
  position: absolute;
  top: 150px;
  left: 0px;
  transform: translateX(-50%);
  max-width: 2000px;
  
 
}

.iium-student-ratedaymonthly{
  position:relative;
  top:-30px;
  left: 1000px;
  font-family: 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 25px;
  background-color: #f0f0f0; /* Add this line */
  padding: 20px;
  border-radius: 10px;
}

.prev{
  position: relative;
  top:150px;
  left:60px;
  background-color: #fffdfd;
  font-size: 40px;
  padding: 3px;
}

.prev:hover{
  background-color: #6d6969;
  color:#f0f0f0;
}

.next{
  position: relative;
  top:150px;
  left:1400px;
  background-color: #f7f5f5;
  font-size: 40px;
  padding: 3px;
}

.next:hover{
  background-color: #6d6969;
  color:#f0f0f0;
}

.faciliti {
  background-color:#3f3a3a ;
  height:600px;
  position:relative;
}

.facilities1{
  font-size: 40px; 
  position: absolute;
  top: 15px; 
  left: 50%; 
  transform: translateX(-50%);
  color: antiquewhite;
  background-color: #4d0f0f;
  border-radius: 8px;
  padding:2px;
}
.image-1-icon {
  width: 120px; 
  height: 100px; 
  position: absolute; 
  top:90px;
  left:19%;
  transform: translateX(-50%);
}
.image-2-icon{
  width: 100px; 
  height: 100px; 
  position: absolute; 
  top:90px;
  left:50%;
  transform: translateX(-50%);
}
.image-3-icon{
  width: 125px; 
  height: 100px; 
  position: absolute; 
  top:90px;
  left:84%;
  transform: translateX(-50%);
}

.desktop-1-child2, .desktop-1-child5,.desktop-1-child6{
  width: 450px; 
  height: 250px; 
  object-fit: cover;
  box-shadow:0px 0px 10px rgb(236, 234, 234);
}
.desktop-1-child2{
  position: absolute; 
  top:250px;
  left:18%;
  transform: translateX(-50%);
}
.desktop-1-child5{
  position: absolute; 
  top:250px;
  left:50%;
  transform: translateX(-50%);
}
.desktop-1-child6{
  position: absolute; 
  top:250px;
  left:84%;
  transform: translateX(-50%);
}

.revieW {
  position: relative;
  max-width: 2000px;
  margin: 0 auto;  
  background-color:#1816166e; 
  padding: 20px;
  height:650px;
}

.review {
  font-size: 40px; 
  position: absolute;
  top: 15px; 
  left: 50%; 
  transform: translateX(-50%);
  color: antiquewhite;
  background-color: #4d0f0f;
  border-radius: 8px;
  padding:2px;
}
.review-form{
  position: absolute;
  top: 70px;
  left: 18%;
  transform: translateX(-50%);
  font-family: 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  background-color: #f0f0f0; /* Add this line */
  padding: 10px;
  border-radius: 10px;
}
.review1{
  position: absolute;
  top: 70px;
  left: 58%;
  transform: translateX(-50%);
  font-family: 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  background-color: #f0f0f0; 
  padding: 10px;
  border-radius: 10px;
}

.footer{
  background-color:#fdfafa ;
  height:250px;
  position:relative;
  padding: 20px; /* Adds space around the content */
  display: flex;
  flex-direction: column;
}

.mahallah-parent{
  position: absolute;
  font-size:20px;
  top: 40px; 
  left: 20%; 
  transform: translateX(-50%);
  border-radius: 8px;
  padding:2px;
  font-family:'Roboto', sans-serif;
  text-transform: uppercase;
}

.mahallah-parent .home, .mahallah-parent .blocks, .mahallah-parent .management, .mahallah-parent .register, .mahallah-parent .contact {
  margin-bottom: 20px; 
  color:orange;
}

.facilities, .cafes, .court,.dobi{
  position: absolute;
  font-size:20px;
  top:40px;
  left: 40%; 
  transform: translateX(-50%);
  border-radius: 8px;
  padding:2px;
  font-family:'Roboto', sans-serif;
  text-transform: uppercase;
  
}

.cafes, .court,.dobi{
  color:orange;
}
.cafes{
  top:60px;
}
.court{
  top:100px;
}
.dobi{
  top:140px;
}
.any-inquiry-please{
  position: absolute;
  font-size:20px;
  top:40px;
  left: 70%; 
  transform: translateX(-50%);
  border-radius: 8px;
  padding:2px;
  font-family:'Roboto', sans-serif;
  text-transform: uppercase;
}
.insta {
  position: absolute;
  top: 3260px; 
  right: 400px; 
  width:100px;
  transform: translateX(-50%);
}
